<?xml version="1.0" encoding="UTF-8" ?>
<!--
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
-->



<beans xmlns = "http://www.springframework.org/schema/beans"
           xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
           xmlns:context = "http://www.springframework.org/schema/context"
           xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">


                                       <!--      Using setter injection -->
      <bean id="customer" class="com.springcore.Customer">
          <property name="customerId" value="001"/>
          <property name="customerName" value="Aniket"/>
          <property name="customerContact" value="1234567890"/>
          <property name="customerAddress" ref="custAddress"/>

      </bean>
      <bean id="custAddress" class="com.springcore.Address">
          <property name="street" value="xyz"/>
          <property name="city" value="NAgpur"/>
          <property name="state" value="Maharashtra"/>
          <property  name="country" value="India"/>
          <property name="zip" value="440027" />
      </bean>



                                <!-- Using constructor injection -->
    <bean id="customerCon" class = "com.springcore.springAssignment.Q1.Customer">
        <constructor-arg  type ="int" value="002"/>
        <constructor-arg value="tejas"/>
        <constructor-arg value="0987654321"/>
        <constructor-arg ref="custAddressCon"/>
    </bean>
    <bean id="custAddressCon" class="com.springcore.Address">
        <constructor-arg value="World"/>
        <constructor-arg value="Welcome"/>
        <constructor-arg value="Nagpur"/>
        <constructor-arg value="India"/>
        <constructor-arg value="12356" />
    </bean>

    <!-- instead of adding each bean postPorcessor -->
    <context:annotation-config/>
</beans>
